/*кнопка звонка*/
.callback-wrap {
  width: 180px;
  height: 180px;
  position: fixed;
  right: 0;
  bottom: 130px;
  /* transform: translate(50%, 50%); */
}

.callback-bt {
  background: #38a3fd;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
  cursor: pointer;
  border: 2px solid transparent;
  display: block;
  width: 75px;
  height: 75px;
  text-align: center;
  position: fixed;
  right: 32px;
  bottom: 180px;
  z-index: 999;
  transition: 0.3s ease-in-out;
  -webkit-animation: hoverWave linear 1s infinite;
  animation: hoverWave linear 1s infinite;
}
@media screen and (max-width: 450px){
  .callback-bt {
    bottom: 160px;
    right: 30px;
  }
}
.callback-bt.active {
  border: 2px solid #38a3fd;
}
.callback-bt.active .callback-icons {
  transition: all 0.4s linear;
}
.callback-icons {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(39, 189, 227, 0);
  transition: all 0.4s linear;
  z-index: 888;
  pointer-events: none;
}

.callback-icon {
  width: 34px;
  height: 34px;
  position: absolute;
  top: -17px;
  left: 73px;
  transform-origin: 17px 107px;
}

.callback-bt .callback-icon {
  transform: translate(0, 90px);
  transition: all 0.2s linear;
  opacity: 0;
  pointer-events: none;
}
.callback-bt.active .callback-icon {
  pointer-events: all;
}

.callback-bt.active .callback-icon.icon1 {
  transform: rotate(-1deg);
  transition: all 0.2s linear;
  opacity: 1;
}

.callback-bt.active .callback-icon.icon2 {
  transform: rotate(-90deg);
  transition: all 0.2s linear;
  opacity: 1;
}

.callback-bt.active .callback-icon.icon3 {
  transform: rotate(-179deg);
  transition: all 0.2s linear;
  opacity: 1;
}

.callback-bt.active .callback-icon.icon4 {
  transform: rotate(-45deg);
  transition: all 0.2s linear;
  opacity: 1;
}

.callback-bt.active .callback-icon.icon5 {
  transform: rotate(-135deg);
  transition: all 0.2s linear;
  opacity: 1;
}

.callback-bt .text-call {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: relative;
  z-index: 999;
}
.callback-bt .text-call i {
  display: inline-block;
  transition: 0.3s ease-in-out;
  animation: 1200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  pointer-events: none;
}

.callback-bt .text-call span {
  color: #38a3fd;
  display: block;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 11px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  font-family: var(--font-montserrat);
}

.callback-bt .text-call:hover span {
  opacity: 1;
}

@keyframes hoverWave {
  0% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
  }

  40% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
  }

  80% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067);
  }

  100% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3),
      0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
  }
}

/* animations icon */

@keyframes shake {
  0% {
    transform: rotateZ(0deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(0deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(0deg) scale(0.4) translateX(-5%);
  }

  10% {
    transform: rotateZ(-30deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(-30deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(-30deg) scale(0.4) translateX(-5%);
  }

  20% {
    transform: rotateZ(15deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(15deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(15deg) scale(0.4) translateX(-5%);
  }

  30% {
    transform: rotateZ(-10deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(-10deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(-10deg) scale(0.4) translateX(-5%);
  }

  40% {
    transform: rotateZ(7.5deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(7.5deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(7.5deg) scale(0.4) translateX(-5%);
  }

  50% {
    transform: rotateZ(-6deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(-6deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(-6deg) scale(0.4) translateX(-5%);
  }

  60% {
    transform: rotateZ(5deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(5deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(5deg) scale(0.4) translateX(-5%);
  }

  70% {
    transform: rotateZ(-4.28571deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(-4.28571deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(-4.28571deg) scale(0.4) translateX(-5%);
  }

  80% {
    transform: rotateZ(3.75deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(3.75deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(3.75deg) scale(0.4) translateX(-5%);
  }

  90% {
    transform: rotateZ(-3.33333deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(-3.33333deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(-3.33333deg) scale(0.4) translateX(-5%);
  }

  100% {
    transform: rotateZ(0deg) scale(0.4) translateX(-5%);
    -ms-transform: rotateZ(0deg) scale(0.4) translateX(-5%);
    -webkit-transform: rotateZ(0deg) scale(0.4) translateX(-5%);
  }
}
/* конец кнопки звонка */

.callback-icon.icon1 img {
  transform: rotate(0deg);
}
.callback-icon.icon2 img {
  transform: rotate(90deg);
}
.callback-icon.icon3 img {
  transform: rotate(-180deg);
}
.callback-icon.icon4 img {
  transform: rotate(45deg);
}
.callback-icon.icon5 img {
  transform: rotate(135deg);
}
.callback-bt.mobile {
  display: none;
}







.modal-confirm {
  color: #636363;
  width: 400px;
  font-size: 14px;
  top: 20%;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}

@media screen and (max-width: 576px) {
  .callback-bt {
    bottom: 150px;
    right: 12px;
  }
}