.thumb-responsive {
    display: block;
    height: 0;
    padding-bottom: 71%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

.thumb-responsive.lazy-loaded {
    background-size: cover !important;
}

.entry-title {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    color: #000;
    margin: 0 0 10px;
    text-transform: none !important;
}


.part {
    white-space: nowrap;
    font-size: 15px;
    color: #7E868B;

    font-weight: 400;
}

.entry-header {
    font-size: 15px;
}

.d-grid {
    display: grid;
    gap: 50px !important;
}

.row-line {
    font-family: Arial, sans-serif;
    position: relative;
    max-width: 100%;
}

.row-line::before {
    position: absolute;
    bottom: -25px;
    left: 11px;
    height: 1px;
    content: "";
    background-color: #D3DCE2;
    right: 0;
}
.row-line:last-child::before{
    display: none;
}

.mostpopular__title {
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    background: #B7E1FF;
    display: inline-block;
    padding: 5px 0;
    margin: 0 0 20px;

}

.mostpopular__row {
    display: flex;
}

.mostpopular__img-block {
    display: block;
    height: 0;
    padding-bottom: 25%;
    width: 150px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-right: 10px;
}
.mostpopularImgBlock{
    display: block;
    height: 0;
    padding-bottom: 60%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.mostpopular__text-title {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700 !important;
}

.mx-360 {
    max-width: 340px;
    margin-left: 30px;
}

.mostpopular__text-block {
    width: 70%;
}

.mostpopular__text-time {
    font-size: 14px;
}

@media (max-width: 770px) {

    .mx-360 {
        max-width: 100%;
        margin-left: 0px;
        margin: 0 auto;
    }

    .mostpopular__img-block {
        width: 40%;
    }
    .header_left_button{
        position: absolute;
        bottom: 4px;
        left: 20px;
    }
    .header_rigth_button{
        position: absolute;
        bottom: 4px;
        right: 20px;
    }
}

@media (max-width: 500px) {
    .row-line {
        display: grid;
    }

    .mx-360 {
        margin-left: 0px;
    }
    .slideInLeft{
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }

}



.comments-tree {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #222;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.comments {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #222;
    box-sizing: border-box;
}

.comments-header {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #222;
    box-sizing: border-box;
    display: block;
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
}

.reply {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #222;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #DDD !important;
    border-radius: 15px;
}

#form_comment {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #222;
    box-sizing: border-box;
}

.new-editor {
    -webkit-text-size-adjust: 100%;
    overflow-y: auto;
    resize: vertical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    max-height: 1000px;
    min-height: 100px;
    border: none !important;
    margin: 0;
    padding: 0;
    resize: none;
    overflow: hidden;
    outline: 0 !important;
    width: 100%;
    height: 100px;
    max-height: 200px;
    /* Set a maximum height for the textarea */
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* resize: vertical;  */
}

.reply .row {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #222;
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pull-right {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    transition: color 300ms ease 0s;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    width: auto;
    font-size: 16px;
    line-height: 1.42857143;
    user-select: none;
    color: #fff;
    letter-spacing: .5px;
    border-radius: 10px;
    background-color: #00a86b;
    border-color: #00a86b;


}

.reply-header.comment_id_9997 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 35px;
    line-height: inherit;
}

.link-dotted {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: inherit;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    transition: color 300ms ease 0s;
    border-bottom: 1px dotted;
    color: #00a86b;
}

.post-content {
    display: flex;
}

.image-refresh {
    width: 100%;
    height: 100%;
}

.user {
    width: 52px;
    height: 52px;
    display: block;
    border-radius: 16px;
    overflow: hidden;
}

.avatar {
    margin-right: 10px;
}

.post-content .post-body {
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;
}

.comment__header .author a {
    font-weight: 700;
}

.publisher-anchor-color {
    color: rgb(16, 155, 255) !important;
    font-size: 15px;
    padding-top: 2px;
    display: block;
    line-height: 1.2;

}

.embed-refresh-v2 .comment__header .author {
    font-size: 15px;
    display: inline-block;
    margin-right: 4px;
}

.time-ago {
    font-size: 12px;
    line-height: 16px;
    color: #494e58;
}

.post-content .post-message {
    line-height: 21px;
    overflow-wrap: break-word;
}

.post-content .post-message p {
    line-height: 21px;
    margin: 0 0 15px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    color: #2a2e2e;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}

.comment-footer__action {
    color: #494e58;
    font-size: 14px;
    border: none !important;
    padding: 0;
    display: block;
    line-height: 21px;
}

.comment__footer .vote-down,
.comment__footer a,
.comment__header .vote-down,
.comment__header a {
    color: #494e58;
    font-weight: 500;
}

.reply {
    margin-top: 20px;
}

.reply-no {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;

}

.text {
    color: #494e58;
    display: block;
    font-weight: 500 !important;
    line-height: 21px;
    color: #494e58;
    font-size: 14px;
    line-height: 21px;
}

.comment-footer__menu {
    padding: 0;
    margin: 0;
}

.post-meta {
    display: flex;
    color: #494e58;
    align-items: center;
    margin-bottom: 9px;
    height: 16px;
}

.post-children {
    padding-left: 40px;
}


.heading_title {
    color: #f8f32b !important;
    font-size: 25px !important;

}

.page_heading_page {
    display: inline-block;
    color: #fff !important;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    padding: 6px 8px;
    font-size: 13px !important;
    border-radius: 60px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.44;
    text-align: center;
    white-space: nowrap;

}

.reply-button {
    color: #ffb300
}

.heading_name {
    margin-left: 8px;
    /* Adjust this value as needed for the desired space */
}

.disqus-comment-count {
    font-size: 15px;
    color: #7E868B;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    margin-left: 4px;
}

.postLink {
    -webkit-text-stroke-width: 0px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(101, 150, 14);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 400;
    letter-spacing: normal;
    orphans: 2;
    text-align: start;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
}
@media (max-width: 1024px) {
    .mx-360{
        margin-left: 0;
        max-width: 300px;
    }
    .blog_img_block{
        width: 39% !important;
    }
    .blog_text_block{
        width: 59.66667%;
    }
    .entry-title{
        font-size: 18px;
    }
    .sidebar-section {
        margin-bottom: 1.5em;
        min-width: 270px;
        max-width: 300px;
    }
    .article-col {
        min-width: 390px;
    }

}
@media (max-width: 672px) {
    .mx-360{
        margin: 0 auto;
        max-width: 400px;

    }
    .sidebar-section.sidebar-section--banner{
        margin: 0 auto !important;
        max-width: 90%;
        padding-top: 30px !important;

    }
    .smallPaddign{
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 542px) {
    .article-col{
        min-width: auto;
        padding: 0 4px !important;
        align-items: center;

    }
    .row-line::before {
        position: absolute;
        bottom: -20px;
        left: 0px;
        right: 0;
    }
    .blog_img_block {
        width: 100% !important;
        padding: 0 !important;
    }
    .blog_text_block {
        width: 100% !important;
        padding: 0 !important;

    }

}