.toggler-container {
  width: auto;
  height: 34px;
  border-radius: 1rem;
  background: #ff0f10;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.toggler-container button {
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  z-index: 10;
  font-size: 0.8rem;
  transition: all 0.3s linear;
  font-weight: bold;
}
.toggler-container button.active {
  color: #ff0f10;
}
.toggler-container .switcher {
  width: 24px;
  height: 24px;
  background: #fff;
  position: absolute;
  top: 5px;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s linear;
}
.switcher.left {
  left: calc(3px);
}
.switcher.center {
  left: calc(33px);
}
.switcher.right {
  left: calc(63px);
}
.switch {
  position: relative;
}
.switch-options {
  width: 90px;
  height: 30px;
  background: #ff0f10;
  border-radius: 14px;
  box-sizing: content-box;
  padding: 0 3px 0 3px;
}

.switch-option {
  display: inline-block;
  color: #f8f8f8;
  font-weight: 500;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 2;
  text-align: center;
  transition: all 0.2s linear;
  
}
.switch-option:hover {
  color: #f8f8f8;
}
.switch-options.left .switch-option.left {
  transition: all 0.2s linear;
  color: #ff0f10;
}
.switch-options.center .switch-option.center {
  transition: all 0.2s linear;
  color: #ff0f10;
}
.switch-options.right .switch-option.right {
  transition: all 0.2s linear;
  color: #ff0f10;
}
.mover {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  z-index: 1;
  transition: all 0.2s linear;
}
.mover.left {
  left: 6px;
}
.mover.right {
  left: 66px;
}
.mover.center {
  left: 36px;
}

.search-btn {
  margin: 10px auto;
}

.contacts-message-text-area {
  min-height: 300px;
}